In [1]:
from pycsp3 import *
import pandas as pd
from mido import MidiFile
import itertools

df = pd.read_csv('dataset/commu_meta_with_duration.csv')

In [2]:
df.time_signature.unique()

array(['4/4', '6/8', '3/4'], dtype=object)

In [3]:
df.columns

Index(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0', 'audio_key',
       'chord_progressions', 'pitch_range', 'num_measures', 'bpm', 'genre',
       'track_role', 'inst', 'sample_rhythm', 'time_signature', 'min_velocity',
       'max_velocity', 'split_data', 'id', 'duration'],
      dtype='object')

In [4]:
df.track_role.unique()

array(['main_melody', 'accompaniment', 'riff', 'pad', 'sub_melody',
       'bass'], dtype=object)

In [5]:
len(df)

11144

In [6]:
df[["time_signature", "id"]].groupby("time_signature").count()

                  id
time_signature
3/4             1269
4/4             9299
6/8              576

In [7]:
# Possibly filter rows by bpm, genre etc.
df = df[df["time_signature"]=="4/4"]

df[["track_role", "id"]].groupby("track_role").count()

                 id
track_role
accompaniment  2016
bass            403
main_melody    2404
pad            1635
riff           1022
sub_melody     1819

In [8]:
df[["bpm", "id"]].groupby("bpm").count()

       id
bpm
35     88
45    659
50    140
60   1056
65    531
70    455
75    502
80   1926
85     36
90    715
95    218
100   654
105   171
110   284
120   847
125   173
130   164
135   205
140    69
145    20
150   386

In [ ]:
df[["num_measures", "id"]].groupby("num_measures").count()